<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1559.va_a_533730b_ea_d">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>DEPLOY_ENV</string>
        <string>RUN_TESTS</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DEPLOY_ENV</name>
          <description>environment to deploy to</description>
          <defaultValue>dev</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_TESTS</name>
          <description>Run test stage?</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4238.va_6fb_65c1f699">
    <script>pipeline {
    agent any
    parameters {
        string(
            name: &apos;DEPLOY_ENV&apos;,
            defaultValue: &apos;dev&apos;,
            description: &apos;environment to deploy to&apos;
        )
        booleanParam(
            name: &apos;RUN_TESTS&apos;,
            defaultValue: true,
            description: &apos;Run test stage?&apos;
        )
    }
    environment{
        REGION =&apos;ap-south-1&apos;
        BUILD_VERSION = &quot;1.0.${env.BUILD_NUMBER}&quot;
        Cloud = &quot;AWS and Azure&quot;
    }

    stages {
        stage(&apos;Built-in-variables&apos;) {
            steps {
                echo &quot;Build Number: ${env.BUILD_NUMBER}&quot;
                echo &quot;Build ID: ${env.BUILD_ID} &quot;
                echo &quot;JENKINS_URL: ${env.JENKINS_URL}&quot;
                echo &quot;GIT_BRANCH:  ${env.GIT_BRANCH}&quot;
                echo &quot;JOB_NAME: ${env.JOB_NAME}&quot;
                echo &quot;BUILD_URL:  ${env.BUILD_URL}&quot;
                
               
            }
    
        }
        stage(&apos;Pipeline-parameters&apos;){
            steps{
                echo &quot;Deploy Env: ${params.DEPLOY_ENV}&quot;
                echo &quot;Run-Tests: ${params.RUN_TESTS}&quot;
            }
        }
        stage(&apos;Custom-parameters&apos;){
            steps{
                echo &quot;REGION: ${env.REGION}&quot;
                echo &quot;BUILD_VERSION: ${env.BUILD_version}&quot;
                echo &quot;Cloud: ${env.cloud}&quot;
            }
            
        }
        stage(&apos;Dynamic Custom Vars&apos;) {
            steps {
                script {
                
                    env.RUNTIME_VAR = &quot;runtime-${env.BUILD_NUMBER}&quot;
                     echo &quot;DYNAMIC: ${env.RUNTIME_VAR}&quot;
                }

               
            }
        }

    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>