<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1559.va_a_533730b_ea_d">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>BUILD_TYPE</string>
        <string>BRANCH_NAME</string>
        <string>RUN_TESTS</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>Git branch to build</description>
          <defaultValue>main</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_TESTS</name>
          <description>Run unit tests</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_TYPE</name>
          <description>Choose the build type</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>debug</string>
              <string>release</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4238.va_6fb_65c1f699">
    <script>pipeline {
    agent any

    tools {
        maven &apos;maven-3.9.6&apos;
        jdk &apos;jdk-17&apos;
    }

    parameters {
        string(
            name: &apos;BRANCH_NAME&apos;,
            defaultValue: &apos;main&apos;,
            description: &apos;Git branch to build&apos;
        )

        booleanParam(
            name: &apos;RUN_TESTS&apos;,
            defaultValue: true,
            description: &apos;Run unit tests&apos;
        )

        choice(
            name: &apos;BUILD_TYPE&apos;,
            choices: [&apos;debug&apos;, &apos;release&apos;],
            description: &apos;Choose the build type&apos;
        )
    }

    stages {

        stage(&apos;Checkout Code&apos;) {
            steps {
                git branch: &quot;${params.BRANCH_NAME}&quot;,
                    changelog: false,
                    poll: false,
                    url: &apos;https://github.com/ranikote/Boardgame.git&apos;
            }
        }

        stage(&apos;Maven Compile&apos;) {
            steps {
                sh &apos;mvn clean compile&apos;
            }
        }

        stage(&apos;Test&apos;) {
            when {
                expression { params.RUN_TESTS }
            }
            steps {
                echo &quot;Running tests...&quot;
                sh &apos;mvn test&apos;
            }
        }

        stage(&apos;Build&apos;) {
            steps {
                echo &quot;Build type selected: ${params.BUILD_TYPE}&quot;
                sh &quot;mvn package -P${params.BUILD_TYPE}&quot;
            }
        }
    }
}

    

</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>